* {
    margin: 0;
    padding-top: 0;
    font-family: Century Gothic;
}

body {
    background-color: #000;
}

.game-name {
    width: 100%;
    height: 7px;
    margin-top: 60px;
    color: #ccc;
    position: relative;
    background-color: #a11;
    /*margin-left: calc(50% - 150px);*/
}

.name {
    position: absolute;
    font-size: 40px;
    left: calc(50% - 115px);
    top: -25px;
    font-weight: 550;
}

.clearfix {
    clear: both;
}

.outer {
    width: 215px;
    height: 215px;
    box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.6);
    background-color: red;
    float: left;
    position: relative;
    margin-left: calc( 50% - 112px);
    margin-top: calc(30%);
    transform: skew(-8deg, -8deg);
}

.block {
    width: 70px;
    height: 70px;
    position: absolute;
    background-color: #000;
    text-align: center;
    line-height: 70px;
    font-size: 43px;
    color: red;
}

.x,
.o {
    font-size: 40px;
    position: absolute;
    left: calc(50% - 30px);
    top: 20px;
    font-weight: 100;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, .7);
}

.o {
    left: calc(50% - 20px);
    top: 35px;
}

.scoreBoardContainer {
    width: 160px;
    height: 500px;
    margin-right: 5%;
    margin-top: calc(10%);
    float: right;
}

.score-board {
    min-height: 80px;
    border-radius: 10px 10px 0 0;
    width: 160px;
    background-color: rgb(196, 225, 166);
    box-shadow: 3px 4px 20px rgba(0, 0, 0, .8);
}

.score-board td,
.score-board th {
    background-color: #a11;
    width: 90px;
    height: 40px;
    font-size: 15px;
    color: white;
    text-align: center;
    line-height: 40px;
}

.score-board th:nth-child(1) {
    border-radius: 10px 0px 0px 0px;
}

.score-board th:nth-child(2) {
    border-radius: 0px 10px 0px 0;
}

.score-board td {
    color: black;
    background-color: #f33;
}

.score-board tr td:nth-child(1) {
    border-radius: 0px 0px 10px 0;
}

.score-board tr td:nth-child(2) {
    border-radius: 0px 0px 0px 10px;
}

.replay {
    width: 110px;
    height: 40px;
    color: #000;
    margin-left: -224px;
    margin-top: calc(364px + 10%);
    background: rgba(233, 30, 30, 0.6);
    border: 1px solid black;
    outline: none;
    transition: ease-in-out .2s;
    box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.6);
}

.raplay:active {
    box-shadow: inset 0px 0px 8px rgb(0, 0, 0, 0.6);
}

.container {
    position: relative;
}

.modal {
    position: absolute;
    float: left;
    width: 300px;
    height: 200px;
    background-color: #333;
    margin-left: calc(50% - 150px);
    margin-top: -400px;
    border-radius: 10px;
    box-shadow: 0px 0px 70px 27px rgba(255, 255, 255, 0.6);
    transform: scale(1, 1);
    border: 5px solid rgba(255, 0, 0, 0.6);
    color: #f55;
    position: relative;
    transition: ease-in-out .2s;
    box-sizing: border-box;
}

.close {
    width: 20px;
    position: absolute;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-weight: 500;
    border-radius: 2px;
    top: 12px;
    cursor: pointer;
    right: 12px;
    background-color: red;
    color: black;
}

.wish {
    position: absolute;
    font-size: 25px;
    left: 20px;
    top: 12px;
    font-weight: 500px;
}

.winner {
    position: absolute;
    font-size: 22px;
    left: 20px;
    top: 75px;
    color: #f33;
    font-weight: 500px;
}

.C {
    transform: scale(0, 0);
    transition: ease-in-out .2s;
}

.computer,
.human {
    width: 75px;
    height: 40px;
    border-radius: 15px;
    background: maroon;
    outline: none;
    margin-left: 45px;
    margin-top: 100px;
    color: #eee;
    padding: 0;
    font-weight: 600;
}

@media(min-width: 580px) {
    .outer {
        margin-left: 15%;
        margin-top: calc(13%);
    }
    .score-board {
        width: 200px;
    }
    .scoreBoardContainer {
        width: 200px;
        margin-right: 5%;
        margin-right: 10%;
    }
}